---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import data from "../../data.json";
import AlumniCarousel from "../components/AlumniCarousel.astro";
---

<Layout>
  <Section background="white" classes="flex-1">
    <div>
      <h1 class="heading text-dark-blue">Our Esteemed Alumni</h1>
      <p class="text-lg text-black opacity-90 my-3">
        Meet some of our incredible alumni who have gone on to achieve great
        things in their respective fields. Their journeys inspire us all.
      </p>
    </div>

    <AlumniCarousel testimonials={data.college.alumni} />
  </Section>
</Layout>

<style>
  .carousel-container {
    width: 100%;
  }
  .carousel {
    display: flex;
    gap: 2rem;
    transform: translateX(0);
  }
  .carousel-slide {
    transform-origin: center;
    transition:
      transform 0.5s ease,
      opacity 0.5s ease;
  }
  .heading {
    @apply font-oswald text-[40px] font-[500] tracking-wide;
  }
</style>
