---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";

const title = "Contact Us";
---

<Layout>
  <Section background="white">
    <section class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Map Section -->
      <div class="rounded-lg overflow-hidden shadow-lg">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1736.7828525083767!2d77.71799823886421!3d29.47068957895713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390c1b15a87f1b15%3A0x3140a0c41607f9e0!2sS%20D%20College%20of%20Pharmacy%20%26%20Vocational%20Studies!5e0!3m2!1sen!2sin!4v1735143777420!5m2!1sen!2sin"
          width="100%"
          height="100%"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <!-- Contact Details -->
      <Section
        background="green"
        classes="rounded-xl text-white px-8 shadow-lg"
      >
        <div class="space-y-8">
          <!-- Location -->
          <div>
            <h2 class="text-2xl font-bold border-b border-white pb-2 mb-4">
              LOCATION
            </h2>
            <p>S.D. College of Pharmacy & Vocational Studies</p>
            <p>
              Bhopa Road, Muzaffarnagar, Uttar Pradesh,India. Postal Code(
              251001 )
            </p>
          </div>

          <!-- Contact Numbers -->
          <div>
            <h2 class="text-2xl font-bold border-b border-white pb-2 mb-4">
              CONTACT NUMBER
            </h2>
            <p>
              For other queries: <a
                href="tel:+918937095010"
                class="hover:underline">+91-8937095010</a
              >
            </p>
            <p>
              Admission Help Line: <a
                href="tel:+918937095011"
                class="hover:underline">+91-8937095011</a
              >, <a href="tel:+918937095027" class="hover:underline"
                >+91-8937095027</a
              >
            </p>
          </div>

          <!-- Email Addresses -->
          <div>
            <h2 class="text-2xl font-bold border-b border-white pb-2 mb-4">
              EMAIL ADDRESS
            </h2>
            <p>
              For More Information: <a
                href="mailto:sdcopmzn@gmail.com"
                class="hover:underline">sdcopmzn@gmail.com</a
              >
            </p>
          </div>
        </div>
      </Section>
    </section>
  </Section>
</Layout>
