---
import greenBg from "../assets/green_bg.png";
import whiteBg from "../assets/noise_bg.png";
interface Props {
  background: string;
  classes?: string;
  space?: boolean;
  styles?: object;
}

const { background, classes, space = true, styles = {} } = Astro.props;
---

<section
  class=`w-full bg-contain ${classes} ${space ? "pt-14 pb-16" : ""}`
  style={{
    ...styles,
    backgroundImage: `url('${background === "green" ? greenBg.src : whiteBg.src}')`,
  }}
>
  <div class=`container mx-auto ${space ? "px-4" : ""}`>
    <slot />
  </div>
</section>
