---
import greenBg from "../assets/green_bg.png";
import whiteBg from "../assets/noise_bg.png";
interface Props {
  background: string;
  classes?: string;
  space?: boolean;
}

const { background, classes, space = true } = Astro.props;
---

<section
  class=`w-full bg-cover bg-no-repeat ${classes} ${space ? "pt-14 pb-16" : ""}`
  style={{
    backgroundImage: `url('${background === "green" ? greenBg.src : whiteBg.src}')`,
  }}
>
  <div class="container mx-auto px-4">
    <slot />
  </div>
</section>
