---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface LayoutProps {
  title: string;
  description: string;
}

const { title = "SD College Of Pharmacy", description } =
  Astro.props as LayoutProps;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Oswald:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col scrollbar-hide">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
